/* nav {

width: 100%;
margin: 0 auto;
padding-top: 0px;
padding-bottom: 0px;
overflow: hidden;
background-color: #000000;


}
nav ul {
  list-style: none;
  text-align: center;
}
nav li {
  display: inline-block;
  font-size: 16px;
  font-family: 'Spectral SC', serif;

  border-style: solid;
  border-width: 1px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #21252B;
  border-color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: #A22005;
}
#space {
  margin-left: 70px;
  margin-right: 70px
}
#sticky {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: #000000;
  z-index: 1;
}


#next {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: none;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  z-index: 1;

} */
