/* h1 {
  font-family: 'Spectral SC', serif;
  margin: 0 auto;
  color: #ffffff;
  }

h2 {
  font-size: 30px;
  font-family: 'Niconne', cursive;
}
p {
  font-family: 'Karma', serif;
}

#white {
  color: #ffffff;
  text-align: center;
}
.pixabay {
  color: #ffffff;
}
.arrow {

  color: #ffffff;
} */
